.caixa{
    width: 100px;
    padding: 10px;
    border:1px solid black;
}

.caixa2{
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

nav ul{
    background-color: blue;
    list-style: none;
}

nav li{
    display: inline-block;
}

li a{
    color: beige;
}

/* Seleciona os links DENTRO dos itens da lista da nav */
nav li a {
display: block; /* Faz o link se comportar como bloco (ocupa o
<li>) */
color: white;
text-decoration: none;
padding: 1rem; /* 1rem = 16px (espaçamento interno) */
/* O resultado é um botão de 16px de padding em todos os
lados */
}

/* Efeito :hover que aprendemos */
nav li a:hover {
background-color: #555; /*mouse passar por cima*/
color: black;
border: 1px dashed ;
}

nav ul ul {
display: none;
position: absolute; /* (Tópico avançado, mas necessário aqui) */
background-color: #333; /* Fundo para o dropdown */
}

/* 2. Mostra o submenu quando o <li> pai está em :hover */
/*a nav que contém um ul que contém um li esta aplicando um houver para o seu filho direto ul*/
nav ul li:hover > ul {
display: block; /*uma embaixo da outra*/
}


/* 3. Estiliza os itens do submenu para ficarem verticais */
/*a nav que contém um ul que contém um outro ul que contém li está transformando os elementos em block */
nav ul ul li {
display: block;
width: 150px; /* Largura para o dropdown */
}

.content-box {
  box-sizing: content-box; /* padrão */
  background-color: #f99;
}

/* 2. Com border-box */
.border-box {
  box-sizing: border-box; /* profissional */
  background-color: #9f9;
}