table{
    border: 2px solid black;
    background-color: black;
    width: 500px;
    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    border: 1px solid black;
    background-color: red;
    padding: 10px;
}

th{
    text-align: center;
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
}